#top-logo{
	height: 40px;
	float: left;
	padding-top: 10px:;
	padding-bottom: 5px;
	padding-right: 5px;
}

#title{
	font-size: 30px;
	color: #FFCC00;
	padding-top: 10px;
}

#search-bar{
	padding-top: 5px;
}

.navbar-inner{
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

#body-row{
	padding-top: 30px;
	padding-bottom: 30px;
}

#sign-up{
	padding-top: 30px;
	padding-bottom: 30px;
}

.socialsign{
	margin-top: 5px;
	margin-bottom: 5px;
}

#home-image{
	padding-top: 10px;
	padding-bottom: 10px;
}

#login{
	padding-top: 50px;
	padding-bottom: 100px;
}

.tab-list{
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.side-tab{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.myactive{
	background-color: #FFCC00;
}

#event-list{
	margin-top: 50px;
	margin-bottom: 20px;
	vertical-align: center;
}

.details{
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: center;
	text-align: center;
}

#status-box{
	padding-top: 10px;
	padding-bottom: 10px;
}

.event-box{
	padding-top: 20px;
	padding-bottom: 20px;
}

.timebar .good{
	background-color: green;
	padding-top: 10px;
	padding-bottom: 10px;
}

.timebar .bad{
	background-color: red;
	padding-top: 10px;
	padding-bottom: 10px;
}

.timebar .meh{
	background-color: orange;
	padding-top: 10px;
	padding-bottom: 10px;
}

.day {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}

#about-right {
	padding-top: 10px;
}