<html>
	<head>
		<title>Help</title>
		<meta name="viewport" content="width-device-width, initial-scale=1.0">
		<link href = "../bootstrap/bootstrap.css" rel="stylesheet">
		<link href = "../bootstrap/bootstrap-responsive.css" rel="stylesheet">
		<link href = "../css/main.css" rel="stylesheet">
		<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="../js/demeetr.js"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class = "navbar navbar-inverse">
			<div class = "navbar-inner">
				<div class = "container">
					<div class = "nav-collapse collapse">
						<div class = "span1 offset1">
							<img id="top-logo" src = "../logo/demeetr.png" \>
						</div>
						<a href = "/">
							<div class = "span3" id = "title">
								demeetr
							</div></a>
						<div class = "span4">
							<!-- <input class = "navbar-search" type = "text" name = "search" value = "Search!"> -->
						</div>
						<ul class = "nav">
							<li><a href = "/help">Help</a></li>
							<li><a href = "/about">About</a></li>
							<li><a href = "/contact">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row-fluid" id = "body-row">
			<div class = "span4 offset2" id="main-left">
				<div>
					<img id = "home-image" src = "../logo/people.png" />
					<h3 align="center">A natural way to organize meetups</h3>
				</div>
			</div>
			<div class = "span3 offset1" id = "about-right">
				<h4>FAQ</h4>
				<ul>
					<li>
						<h5>Does this work?</h5>
						Nope.
					</li>
					<li>
						<h5>When will this work?</h5>
						Hopefully soon.
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>